.Water{
  width: 50px;
  height: 50px;
}

.color1{
  background-color: #ab3636;
}

.color2{
  background-color: #ab7636;
}

.color3{
  background-color: #aba736;
}

.color4{
  background-color: #71ab36;
}

.color5{
  background-color: #36ab67;
}

.color6{
  background-color: #36aba5;
}

.color7{
  background-color: #367cab;
}

.color8{
  background-color: #3c36ab;
}

.color9{
  background-color: #7136ab;
}

.color10{
  background-color: #ab3680;
}

.color11{
  background-color: #a136ab;
}

.color12{
  background-color: #ab3682;
}

.color13{
  background-color: #ab364d;
}

.color14{
  background-color: #590a8a;
}
