.Water{
  width: 50px;
  height: 50px;
}

.color1{
  background-color: #ff0000;
}

.color2{
  background-color: #ff8c00;
}

.color3{
  background-color: #fff700;
}

.color4{
  background-color: #80ff00;
}

.color5{
  background-color: #008839;
}

.color6{
  background-color: #00fff2;
}

.color7{
  background-color: #0099ff;
}

.color8{
  background-color: #0d00ff;
}

.color9{
  background-color: #8000ff;
}

.color10{
  background-color: #9c0063;
}

.color11{
  background-color: #7b0086;
}

.color12{
  background-color: #ffa1de;
}

.color13{
  background-color: #a4a4a4;
}

.color14{
  background-color: #270040;
}

.animationStyle{
  /* transform: scaleY(0); */
  transform: translateY(10px, 50%);
  transform-origin: bottom;
  transition: 1000ms;
}